In [1]:
# 題目1: 6 號學生(student_id=6) 3 科平均分數為何？
import pandas as pd
score_df = pd.DataFrame([[1,56,66,70],[2,90,45,34], 
           [3,45,32,55], [4,70,77,89], [5,56,80,70], [6,60,54,55],
           [7,45,70,79], [8,34,77,76], [9,25,87,60], [10,88,40,43]],
          columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df.mean(axis=1)
#答案: 6 號學生 3 科平均分數為 56.333333

student_id
1     64.000000
2     56.333333
3     44.000000
4     78.666667
5     68.666667
6     56.333333
7     64.666667
8     62.333333
9     57.333333
10    57.000000
dtype: float64

In [2]:
# 題目2: 6 號學生 3 科平均分數是否有贏過班上一半的同學？
# score_df.median() 修正前
#答案: 6 號學生 3 科平均分數僅數學有贏過班上一半同學
mean_score_df = score_df.mean(axis=1)
mean_score_df.median()
#答案: 6 號學生 3 科平均分數為56.33333未贏過班上平均分數的中位數為59.833333
#     所以6號同學3科平均分數沒有贏過班上一半的同學

math_score       56.0
english_score    68.0
chinese_score    65.0
dtype: float64

In [3]:
# 題目3: 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問 6 號同學 3 科成績分別是？
score_df.apply(lambda x : x**(0.5)*10)
#答案: 6 號學生 3 科加分後成績 (1)數學為77.459667 (2)英文為73.484692 (3)國文為74.161985

            math_score  english_score  chinese_score
student_id
1            74.833148      81.240384      83.666003
2            94.868330      67.082039      58.309519
3            67.082039      56.568542      74.161985
4            83.666003      87.749644      94.339811
5            74.833148      89.442719      83.666003
6            77.459667      73.484692      74.161985
7            67.082039      83.666003      88.881944
8            58.309519      87.749644      87.177979
9            50.000000      93.273791      77.459667
10           93.808315      63.245553      65.574385

In [4]:
# 題目4: 承上題，加分後各科班平均變多少？
score_apply = score_df.apply(lambda x : x**(0.5)*10)
score_apply.mean()
#答案: 加分後各科班平均成績 (1)數學為74.194221 (2)英文為78.350301 (3)國文為78.739928

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64